@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
html {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow: hidden;
}

$colors: (
  primary: #145acb,
  secondary: #306ed0,
  third: #5ecbed
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

.cd-section {
  height: 100vh;
  background-color: #145acb;
}

.image {
  width: 500px;
  height: 300px;
}

.contenedor-texto{
  width: 500px;
  height: 300px;
  background-color: color(primary);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;

  p{
    margin: 0;
  }
}

.img-contenedor{
  width: 100xw;
  display: flex;
  justify-content: flex-end;
}